{% extends "base.html" %}


{% block title %}
  所有标签
{% endblock %}


{% block top_center %}
  <h1>
    <a href="{{ SITEURL }}/{{ TAGS_SAVE_AS }}" rel="bookmark" title="Permalink to tag list">标签</a>
  </h1>
{% endblock %}


{% block content %}

  {% set all_tags = [] %}
  {% for tag, articles in tags %}
    {% if all_tags.append({'name': tag.name, 'url': tag.url, 'articles': articles|length()}) %}{% endif %}
  {% endfor %}

  {% set tier_1 = [] %}
  {% set tier_2 = [] %}
  {% set tier_3 = [] %}
  {% set total_tags = all_tags|sum(attribute = 'articles') %}
  {% for tag in all_tags|sort(reverse = True, attribute = 'articles') %}
    {% if tier_1|sum(attribute = 'articles') < total_tags / 3.0 or tier_1[-1].articles == tag.articles %}
      {% if tier_1.append(tag) %}{% endif %}
    {% elif tier_2|sum(attribute = 'articles') < total_tags / 3.0 or tier_2[-1].articles == tag.articles %}
      {% if tier_2.append(tag) %}{% endif %}
    {% else %}
      {% if tier_3.append(tag) %}{% endif %}
    {% endif %}
  {% endfor %}

  {% for (tier_name, tier_tags) in [("热门", tier_1), ("中间", tier_2), ("冷门", tier_3)] %}
    <h2>{{ tier_name }} 标签</h2>
    <p>
      {% for tag in tier_tags %}
        {{ m.render_tag(tag) }}
      {% endfor %}
    </p>
  {% endfor %}

{% endblock %}
